.booking__wrapper {
    margin: 0 auto;
    width: 970px;
    padding: 0 20px 0 20px;
    margin-top: 91px;
    display: flex;
    justify-content: space-between;

}

.booking__title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: var(--font-gold);
    padding-bottom: 15px;
}

.booking__tour {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
    padding-bottom: 10px;
}

.booking__input {
    margin-bottom: 20px;
    ;
}

input[type="date" i] {
    margin-right: 18px;
    width: 190px;
    height: 45px;
    border: 1px solid #030303;
    padding: 0;
}

input[type="time" i] {
    width: 190px;
    height: 45px;
    border: 1px solid #030303;
    padding: 0;

}

input[type="text" i] {
    width: 400px;
    height: 45px;
    border: 1px solid #030303;
    margin: 20px 0;

}


input[type="email" i] {
    width: 400px;
    height: 45px;
    border: 1px solid #030303;
    margin-bottom: 20px;
}

input[type="tel" i] {
    width: 400px;
    height: 45px;
    border: 1px solid #030303;
    margin-bottom: 20px;

}

.booking__type-box {
    width: 400px;
    height: 45px;
    border: 1px solid #030303;
    padding-left: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    background-image: url('../../images/icons/ticket--type.svg');
    background-repeat: no-repeat;
    background-position: 15px;
}


input[type="text" i]::placeholder,
input[type="email" i]::placeholder,
input[type="tel" i]::placeholder,
input[type="time" i]::placeholder,
input[type="date" i]::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-left: 43px;
    color: #030303;
}

input[type="text" i]::placeholder {
    background-image: url('../../images/icons/user-solid.svg');
    background-repeat: no-repeat;
    background-position: 15px;
}

input[type="email" i]::placeholder {
    background-image: url('../../images/icons/email.svg');
    background-repeat: no-repeat;
    background-position: 15px;

}

input[type="tel" i]::placeholder {
    background-image: url('../../images/icons/mobile.svg');
    background-repeat: no-repeat;
    background-position: 15px;

}

.booking__entry-ticket {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--font-gold);
    padding: 10px 0 5px 15px;
}

.booking__form {
    width: 400px;
    height: 135px;
    border: 1px solid #030303;
}

.booking__form-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 18px;

}

.booking__age-item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    padding-left: 15px;

}

.border__age {
    border: 1px solid #030303;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.booking__btn-max,
.booking__btn-min {
    width: 25px;
    height: 25px;
    background-color: #030303;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.booking__wrapper-result-box {
    border: 1px solid #030303;
    padding: 25px 30px;
}

.booking__wrapper-result-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__wrapper-result-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #272727;
}

.booking__tour-result {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
}

.booking__wrapper-result {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    gap: 5px;
    padding-left: 25px;
}

.booking__wrapper-result:nth-last-child(1) {
    padding-bottom: 22px;
    padding-right: 124px;
}

.final-choice-type {
    display: flex;
    justify-content: space-between;
}

.final-choice-type-basic,
.final-choice-type-senior,
.final-choice-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}

.booking__wrapper-result-date {
    background-image: url('../../images/icons/date.svg');
    background-repeat: no-repeat;
}

.booking__wrapper-result-time {
    background-image: url('../../images/icons/time.svg');
    background-repeat: no-repeat;

}

.booking__wrapper-result-done {
    background-image: url('../../images/icons/done.svg');
    background-repeat: no-repeat;

}

.booking-total-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.booking-total {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #030303;
}

.booking-total-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #030303;

}

.booking-btn {
    background: #710707;
    width: 220px;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
    margin-top: 45px;
    transform: translateX(250px);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .booking__wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 50px;

    }
}
