.content-restore {
    background-color: var(--bg-dark);
    padding: 0 20px 0 20px;

}

.restore-block {
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin: 0 auto;
}

.restore-title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 75px;
}

.restore-item {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: var(--white);
    margin-top: 75px;
    margin-right: 60px;
}

.highlight {
    color: #CAAA7D;
}

.restore-img {
    margin: 90px 0 75px 0;
    width: 100%;
}

@media screen and (max-width: 1420px) {
    .restore-block {
        display: block;
        width: 100%;

    }

    .restore-item br {
        display: none;
    }

    .restore-line {
        width: 100%;
    }

    .restore-item-hidden{
        display: none;
    }

}