.footer {
    background-color: #030303;

}

.footer__container {
    width: 1440px;
    margin: 0 auto;
}

.footer__logo {
    display: flex;
    padding-top: 86px;
}



.footer__logo-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 26px;
}


.footer__social {
    display: flex;
}

.footer__social-net {
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
}

.footer__bottom {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__bottom-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 50px 0 52px 0;
}