.footer {
    background-color: #030303;

}


.footer__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: grid;
}

.footer__container-logo-wrapper {
    margin-top: 86px;
}

.footer__logo-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 26px;
}

.footer__navigation {
    margin-top: 87px;
    margin-bottom: 50px;
}


.footer__navigation-list {
    display: flex;
    gap: 170px;
}

.footer__navigation-list-item {
    padding-bottom: 25px;
}


.footer__social {
    display: flex;
    gap: 25px;
    margin-top: 162px;

}

.footer__social-net {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #666666;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background .5s;
}

.footer__social-net:hover {
    background-color: var(--font-gold);
}


.footer__bottom {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;

}

.footer__bottom-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 50px 0 52px 0;
}