.gallery-container {
    background-color: black;
    padding: 0 20px 0 20px;
  }

.gallery-block-text {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 75px;
}

.gallery-title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 75px;
}

.gallery-block {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(0px 120px);
    opacity: 0;
    transition: all 0.8s;

}


.gallery-block._active {
    opacity: 1;
    transform: translate(0px 0px);

}

.gallery-block img {
    padding-bottom: 24px;

}
