.gallery-container {
    background-color: black;
    margin-top: 75px;
}

.gallery-block-text{
    display: flex;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 75px;
}

.gallery-title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 75px;
}

.gallery-block{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-block img{
padding-bottom: 24px;

}