.header {
    background-color: var(--bg-dark);
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 20px 0 20px;

}


.container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    padding: 62px 0 62px 0;

}

.container__logo-wrapper{
    display: flex;
    gap: 25px;
    
}


.header__logo-title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
}


.header__navigation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px ;


}

.header__navigation-link {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--white);
    transition: color .5s;
}


.header__navigation-link:hover {
    color: var(--font-gold);
}

.header__navigation-link:active {
    color: var(--active-links);
}

.header__wrapper {
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}



.header__main-title {
    font-family: 'Forum';
    font-weight: 400;
    color: var(--white);
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header__second-title {
    font-family: 'Roboto';
    font-weight: 300;
    color: var(--white);
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    padding-bottom: 75px;
}

.header__discover-button {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 10px;
    width: 360px;
    height: 75px;
    margin: 0 80px 0 0;
    cursor: pointer;
    transition: background-color .5s;

}

.header__discover-button:hover {
    background-color: var(--font-gold);
}

.header__wrapper-lisa {
    margin-bottom: 60px;
    width: 100%;
}