.main-line-ticket {
    border-bottom: 3px solid var(--dark-red);
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 25px;

}

.main-line-contact{
    border-bottom: 3px solid var(--dark-red);
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 25px;

}

.main-line-virtual {
    border-bottom: 3px solid var(--dark-red);
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 75px;
}

.box-line {
    border-bottom: 2px solid var(--dark-red);
    width: 300px;
    margin-bottom: 10px;
}

.restore-line {
    border-bottom: 3px solid var(--dark-red);
    width: 660px;
    margin-top: 25px;
}

.footer-line {
    border-bottom: 3px solid #666666;
    width: 100%;
}

.booking-line {
    border-bottom: 3px solid var(--dark-red);
    width: 400px;
    margin-bottom: 60px;
}

.booking-line-second {
    border-bottom: 2px solid var(--dark-red);
    width: 370px;
    margin: 0 auto;
}

.booking-result-line {
    width: 470px;
    border-bottom: 2px solid var(--dark-red);
    margin: 0 auto;
    padding-top: 9px;
}