.wrapper__slider {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;

}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    width: 10px;
    height: 12px;
    font-size: 15px;
    color: #999999;
    padding-bottom: 40px;
}

.swiper-button-prev {
    left: 40%;
    top: 305px;
}

.swiper-button-next {
    right: 40%;
    top: 305px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -40px;
}

.swiper-button-prev:hover {
    color: #710707;
}

.swiper-button-next:hover {
    color: #710707;

}

:root {
    --swiper-theme-color: #333333
}