.tickets-container-title {
    max-width: 1440px;
    margin: 0 auto;
}

.tickets-title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-gold);
    padding-top: 75px;
}


.ticket-box {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
}

.ticket-second-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

input[type=radio] {
    margin: 25px 28px 25px 0;
    cursor: pointer;
    width: 17px;
    height: 17px;

}

.ticket-second-title-type {
    margin-bottom: 25px;
}

.ticket-second-title-total{
    padding-top: 50px;
}

.tickets-age {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding: 20px 0 15px 0;
}

.tickets-btn {
    width: 175px;
    height: 50px;
    background: #000000;
    color: white;
    border-radius: 2px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top: 60px;
    border: none;
    transition: background .5s;
}


.tickets-btn:hover {
    background: var(--font-gold);
    color: #000000;
}


.amount-form::-webkit-inner-spin-button {
    display: none;
}

.amount-form {
    all: unset;
    width: 100px;
    height: 50px;
    text-align: center;

}

.btn-min {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}


.btn-max {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

}


.panorama-wallpaper {
    margin: 75px 0 75px 0;
    background-image: url('../../images/panorama.jpg')
}